<html>
<head>
    <title>Bank</title>
    <style>
        h2 {
            color: red;
        }


    </style>
    <meta id="failure"/>
    <meta id="balance" content="{{balance}}"/>
    <meta id="additionalFundsRequired" content="{{additionalFundsRequired}}"/>
</head>
<body>
<div>
    <h2>Bank account with id {{id}} does not have enough funds</h2>
    <p>Current balance: {{balance}}</p>
    <p>Additional funds required: {{additionalFundsRequired}}</p>
</div>
</body>
</html>